* {
    padding: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
  }
  
  p {
    margin: 16px;
    font-size: 70px;
    color: #1DA1F2;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    text-align: center;
  
  }
  
  nav {
    margin: 20px;
    background: #f9f9f9;
    padding: 8px;

    .menuItems {
      list-style: none;
      display: flex;
      justify-content: space-around;
  
      li {
        margin: 10px;
  
        a {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 24px;
          font-weight: 400;
          transition: all 0.5s ease-in-out;
          position: relative;
          text-transform: uppercase;
          justify-items: space-between;

  
          &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: #1DA1F2;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
  