
<form [formGroup]="tweetForm" (ngSubmit)="makeTweet()">

  <label for="username" >Username: </label>
  <input type="text" id="username" formControlName="username"/><br />

  <label for="datetime-local"  >Date: </label>
  <input type="datetime-local" id="datetime-local" formControlName="date" /><br />

  <textarea
    placeholder="what's happening?"
    formControlName="message" cols="50" rows="20"
  ></textarea>
  <input type="file" id="lname" name="lname" /><br />

  <input type="submit" value="Tweet" />
</form>
