
<form [formGroup]="tweetForm" (ngSubmit)="macktweet()">

  <label for="username" [formControl]="tweetForm.controls.username">Username: </label>
  <input type="text" id="username" name="username" /><br />

  <label for="datetime-local" [formControl]="tweetForm.controls.date" >Date: </label>
  <input type="datetime-local" id="datetime-local" name="date" /><br />
  <textarea
    placeholder="what's happening?"
    [formControl]="tweetForm.controls.message" 
  ></textarea>
  <input type="file" id="lname" name="lname" /><br />

  <input type="submit" value="Tweet" />
</form>
